name: CI/CD .NET para EC2

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore ./CadastroDeUsuarios.sln

      - name: Build
        run: dotnet build ./CadastroDeUsuarios.sln -c Release --no-restore

      - name: Test
        run: dotnet test ./CadastroDeUsuarios.sln -c Release --no-build || echo "Sem testes/ falha, seguindo."

      - name: Publish
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          dotnet publish ./CadastroDeUsuarios/CadastroDeUsuarios.csproj -c Release -o ./publish

      - name: Zip
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          sudo apt-get update
          sudo apt-get install -y zip
          cd publish
          zip -r ../app.zip .
          cd ..

      - name: Criar chave SSH
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          mkdir -p ~/.ssh
          cat > ~/.ssh/id_ec2 << 'KEY'
          ${{ secrets.EC2_SSH_KEY }}
          KEY
          chmod 600 ~/.ssh/id_ec2

      - name: Enviar zip (SCP)
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \
            -i ~/.ssh/id_ec2 app.zip \
            ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/tmp/app.zip

      - name: Deploy (SSH)
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \
            -i ~/.ssh/id_ec2 \
            ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << EOF
            set -e

            sudo systemctl stop CadastroDeUsuarios || true

            sudo mkdir -p "${{ secrets.EC2_DEPLOY_PATH }}"
            sudo rm -rf "${{ secrets.EC2_DEPLOY_PATH }}"/*
            sudo unzip -o /tmp/app.zip -d "${{ secrets.EC2_DEPLOY_PATH }}"
            rm -f /tmp/app.zip

            sudo systemctl daemon-reload
            sudo systemctl start CadastroDeUsuarios
            sudo systemctl status CadastroDeUsuarios --no-pager -l
          EOF
